body {
  background-color: #fefeff;
  font-family: 'Roboto', sans-serif;

  nav {
    .container {
      .navbar-collapse {
        .navbar-nav {
          .profile-image {
            height: 20px;
            width: 20px;
            border-radius: 100px;
          }
        }
      }
    }
  } // end of nav

  .event-row {
  padding: 25px;

    .event-link {

    }
    .event {
      position: relative;
      border: 1px solid #ddd;
      transition: all .2s;

      &:hover {
        transform: scale(1.1);
      }

      .event-info {
        width: 100%;
        background-color: rgba(0,0,0,.6);
        color: white;
        position: absolute;
        bottom: 0;

        a {
          color: white;
        }
      }
    }

    h2 {
      margin-bottom: 30px;
    }
  }

  .group-buttons {
    margin-bottom: 25px;
  }

  .event-info-show {
    padding: 20px 50px;
  }

  .group-members {
    img {
      margin-right: 10px;
    }
  }

  #createEvent {
    color: white;
    text-decoration: none;
  }

  .group-title {
    font-size: 24px;
  }

  .card-header {
    .col-md-6 {
      height: 30px;
    }
  }
}
