<div class="row">
  <div class="col-md-12 text-center">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      <a href="/groups/new" id='createEvent'> <i class="fa fa-plus"></i> Create Event</a>
    </button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">New Event</h4>
          </div>
          <div class="modal-body text-left">
            <div id="carousel-example" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active">
                  <form action="">
                    <div class="form-group">
                      <label for="event-name" class="control-label">Event Name:</label>
                      <input type="text" class="form-control" id="event-name">
                    </div>
                    <div class="form-group">
                      <label for="event-location" class="control-label">Location:</label>
                      <input type="text" class="form-control" id="event-location">
                    </div>

                    <div class="form-group">
                      <label for="event-date" class="control-label">Date:</label>
                      <input type="date" class="form-control" id="event-date">
                    </div>
                    <div class="form-group">
                      <label for="event-time" class="control-label">Time:</label>
                      <input type="time" class="form-control" id="event-time">
                    </div>
                    <div class="form-group">
                      <label for="event-details" class="control-label">Details:</label>
                      <textarea class="form-control" id="event-details"></textarea>
                    </div>
                  </form>
                </div> <!-- End of item active -->
                <div class="item">
                  <form action="">
                    <label for="friends-search" class="control-label">Search:</label>
                    <input type="search" class="form-control" id="friends-search">
                  </form>
                  <p class="search-friends-empty">Search for friends to add to this group</p>
                </div>
              </div>
            </div>
          </div> <!-- End of modal body -->
          <div class="modal-footer text-center">
            <a href="#carousel-example" role="button" data-slide="next">
              <button type="button" class="btn btn-primary">Continue</button>
            </a>
          </div>
        </div>
      </div>
    </div> <!-- End of modal -->
  </div>
</div>
<div class="row">
  <div class="event-row">
    <h2>Upcoming</h2>
    <div class="col-md-12 text-center">
      <% groups.forEach(function(group) { %>
        <div class="col-md-3">
          <h2>
            <a href="/groups/<%= group.id %>"><%= group.title %></a>
          </h2>
          <p>
            <strong><%= group.time %></strong>
          </p>
          <% var i= Math.floor(Math.random()*9) %>
          <img class="img-responsive" src=<%- "http://lorempixel.com/400/300/food/"+i %> alt="">
        </div>
      <% }); %>
    </div>
  </div>
</div>
<div class="row">
  <div class="event-row">
    <h2>Past</h2>
    <div class="col-md-12 text-center">
      <div class="col-md-3">
        <img class="img-responsive" src="http://lorempixel.com/400/300/food/5" alt="">
      </div>
      <div class="col-md-3">
        <img class="img-responsive" src="http://lorempixel.com/400/300/food/6" alt="">
      </div>
      <div class="col-md-3">
        <img class="img-responsive" src="http://lorempixel.com/400/300/food/7" alt="">
      </div>
      <div class="col-md-3">
        <img class="img-responsive" src="http://lorempixel.com/400/300/food/8" alt="">
      </div>
    </div>
  </div>
</div>
